@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

body,html
{
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.navbar
{
  padding: .8rem;
}

.navbar-nav li
{
  padding-right: 20px
}
.nav-link
{
  font-size: 1.1em !important;
}

h1
{
  font-size: 4vw;
}


.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption
{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.carousel-caption h1 
{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3
{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.btn-primary 
{
  background-color: rgb(154, 204, 64);
  border: 1px solid rgb(144, 193, 56);
}

.btn-primary:hover
{
  background-color: rgb(144, 193, 56);
  border: 1px solid rgb(144, 193, 56);
}

.jumbotron
{
  padding: 1rem;
  border-radius: 0;
}

.responsiveimg
{
  width: 100%;
  height: 100%;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

.iframe-container{
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 35%; 
  height: 0;
}
.iframe-container iframe{
  border: 0;  
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 70%;
}
.iframe-container2{
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 56%; 
  height: 0;
}
.iframe-container2 iframe{
  border: 0;  
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 70%;
}

.slidescontainer 
{
  padding: 0px;
  margin-bottom: 20px;
  height: 60%;
  width:100%
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url(test2.jpg);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.socialmedia
{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid rgb(144, 193, 56);
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:rgb(154, 204, 64);
  text-align:center;
  transition: all 0.2s;
  width: 100%;
  
}

.socialmedia:hover
{
  color:rgb(144, 193, 56);
  background-color:rgb(63, 92, 38);
  border:0.1em solid rgb(144, 193, 56);
}

.footer
{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top:2rem;
}

hr.light
{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-bottom: 1rem;
}
@media all and (max-width:30em){
   .socialmedia
  {
    display: block;
    margin:0.4em auto;
  }
}
.lead
{
    font-family: "Tangerine", serif;
    font-size: 32px;
}

.Verslagen
{
    text-align: center;
    padding-bottom: 2rem;
}

.Datums
{
    text-decoration: underline;
}

.Jumbo
{
  text-align: center;
  font-family: 'Just Another Hand', cursive;
}

.underline
{
  text-decoration: underline;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

